<div class="questions_index_container">
  <div class="questions_index_main">
    <% if @questions.count == 0 %>
      <p>問題はありません</p>
    <% else %>
      <% @questions.each do |question| %>
        <div>
          <%= link_to question_path(question.id) do %>
            <p>問題<%= question.number %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="link_to_top">
  <%= link_to "トップへ", root_path %>
</div>
